MONGODB_URI=
PORT = 3000
JWT_SECRET= sdjksdkjffnweiaia3
Imagekit_Public_key=
Imagekit_Private_key=
Imagekit_URL_Endpoint=


FRONTEND_URL = 
CLOUDINARY_CLOUD_NAME =
CLOUDINARY_API_KEY =
CLOUDINARY_API_SECRET =
CLERK_WEBHOOK_SECRET = 
CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
